# Pandas Basics

In [2]:
import numpy as np
import pandas as pd

In [3]:
# help(pd.Series)

## Creating series

In [4]:
myindex = ['USA','Canada','Mexico']

In [5]:
mydata = [1776,1867,1821]

In [6]:
myser = pd.Series(data=mydata)

In [7]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myser = pd.Series(data=mydata,index=myindex)

In [9]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
myser[0]

1776

In [11]:
myser['USA']

1776

## Creating Series from Dictionaries

In [12]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [13]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

## Operations on Series

In [14]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [15]:
sales_q1 = pd.Series(q1)

In [16]:
sales_q2 = pd.Series(q2)

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [20]:
sales_q1['Japan']

80

In [21]:
sales_q2.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [22]:
#Broadcast operations
sales_q2 * 2

Brazil     200
China     1000
India      420
USA        520
dtype: int64

In [23]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [24]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [25]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64