### 1. Import numpy as np

In [1]:
import numpy as np

### 2. Create an array of 10 zeros

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### 3. Create an array of 10 ones

In [3]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

### 4. Create an array of 10 fives

In [5]:
np.ones(10) + 4

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

### 5. Create an array of the integers from 10 to 50

In [6]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

### 6. Create an array of all the even integers from 10 to 50

In [7]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

### 7. Create a 3x3 matrix with values ranging from 0 to 8

In [9]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

### 8. Create a 3x3 identity matrix

In [10]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### 9. Use Numpy to generate a random number between 0 and 1

In [11]:
np.random.rand(1)

array([0.66105053])

### 10. Use Numpy to generate an array of 25 random numbers sampled from a standard normal distribution

In [12]:
np.random.randn(25)

array([ 0.04678622,  1.01536955,  0.89121533,  1.66950154,  1.50784583,
       -1.03560756, -0.58633338, -0.1389131 ,  1.69551604, -1.37063153,
       -0.13654456,  0.67694805, -0.0194539 ,  2.6679875 ,  1.33373799,
       -0.53066349,  2.19772465,  0.62193245, -0.48215882,  0.42992817,
        2.21889907, -1.45516719,  0.29968143, -0.42371383,  0.04820475])

### 11. Generate an array with step-size = 0.01, between 0.01 and 1

In [17]:
arr = np.linspace(0.01,1,100)

In [18]:
arr.reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

### 12. Create an array of 20 linearly spaced points between 0 and 1:

In [19]:
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## Numpy Indexing and Selection

Given the sample matrix below, perform the following exercises

In [34]:
mat = np.arange(1,26).reshape(5,5)

In [35]:
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### 13. Write code that reproduces the output shown below.

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [36]:
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

### 14. Write a code that grabs 20 from mat

In [37]:
mat[3:4,-1]

array([20])

### 15. Write a code that grabs 2,7,12 from mat together

In [38]:
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

### 16. Grab the last row og mat

In [41]:
mat[4]

array([21, 22, 23, 24, 25])

### 17. Grab the last 2 rows of mat

In [42]:
mat[3:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

## Numpy Operations

### 18. Sum of all values in mat

In [43]:
mat.sum()

325

### 19. Standard deviation of the values in mat

In [44]:
mat.std()

7.211102550927978

### 20. Get the sum of all columns in mat

In [45]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

# Thank You!